extends ../layouts/main-layout

block content 
    if(errorMessage)
      div.alert.alert-danger #{errorMessage}
    if(action==="notAllowed")
      div.alert.alert-danger You should login to see this page!
    form(action="/login" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            .form-group.row
              label(for="email").col-sm-2.col-form-label E-mail
              .col-sm-5
                input(type="email" name="email" required).form-control
            .form-group.row
              label(for="password").col-sm-2.col-form-label Password
              .col-sm-5
                input(type="password" name="password" required).form-control

            .form-group.row

              .col-sm-10.offset-sm-2
                input(type="submit" name="" value="Login").btn.btn-primary