extends ../layouts/main-layout
include ../mixins/createProduct

block content
      .row 
        .col-md-3
          include ../includes/menu

          
        .col-md-9
          include ../includes/slider
          .row
            
            if products.length>0
              each product in products 
                  +createProduct(product)
            else 
              h1 There is no product